# With the success of Atom, it's really difficult to choose keybindings that
# will not enter in conflict whit anyone else's packages, so I let this file
# empty to set your own keybindings.
# For you informations, here's an exemple of my keybindings for easy-motion-redux

# ".platform-darwin atom-text-editor:not([mini])":
#   "cmd-shift-e": "easy-motion-redux:start"
#
# ".platform-win32 atom-text-editor:not([mini]), .platform-linux atom-text-editor:not([mini])":
#   "ctrl-shift-e": "easy-motion-redux:start"
